{%extends 'base.html'%}

{%block title%} Edit Post {% endblock %}

{%block content%}
<h1 class="mt-5">Edit Post</h1>
<div class="row mt-3">
    <div class="col-6 d-grid gap-2">

        <form class="d-grid gap-2" action="/posts/{{post.id}}/edit" method="post">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" name="title" id="first_name" value="{{post.title}}">
            </div>
            <div class="mb-3">
                <label class="form-label" for="content">Content</label>
                <textarea class="form-control" type="text" rows="5" name="content"
                    id="content">{{post.content}}</textarea>
            </div>


            <button class="btn btn-success" type="submit">Save Edits</button>
        </form>
        <a href="/users/{{user.id}}" class="btn btn-outline-danger mt-4">Cancel</a>
    </div>
</div>


{% endblock %}